<section class="section-hero">
  <div class="container hero-container">
    <img class="hero-bg-img" src="/img/top-view-chicken-chicken-wings-fried-potatoes-herbs-fork-knife-tomatoes-lemon 1.png" alt="Hero Images">
    <h1 class="section-hero-title">
      Food that fits
      <br />
      <svg class="hero-title-svg" width="111" height="81">
        <use href="/img/icons.svg#icon-icon-h1"></use>
      </svg>
      your lifestyle
    </h1>
    <p class="section-hero-text">
      Use our nutrition calculator to see which menu suits you best — or browse
      ready-made meal plans
    </p>
    <div class="hero-button-container">
      <a class="hero-link-calculator" href="">Use calculator</a>
      <a class="hero-link-menus" href=""
        >Browse menus
        <svg class="hero-menus-svg" width="24" height="25">
          <use href="/img/icons.svg#icon-hero-menus"></use></svg
      ></a>
    </div>
  </div>
</section>
