<section class="section-meet-the-chef" id="meet-the-chef">
  <div class="container meet-the-chef-container">
    <h2 class="visually-hidden">Meet the Chef</h2>
    <div class="text-container">
      <p class="section-chef-title">Meet the Chef Behind Your Meals</p>
      <p class="section-chef-text">
        With years of experience and a love for healthy cooking, our chef turns
        every plate into a perfect balance of flavor and nutrition.
      </p>
      <ul class="section-chef-list">
        <li class="section-chef-item">Experienced Culinary Master</li>
        <li class="section-chef-item">Healthy Cooking Award 2025</li>
        <li class="section-chef-item">Organic Ingredient Specialist</li>
        <li class="section-chef-item">Certified Nutrition Expert</li>
      </ul>
    </div>
    <div class="image-container">
        <div class="background"></div>
      <img
        class="section-chef-img"
        src="/img/chef/chef.png"
        alt="Chef Image"
        width="472"
        height="578"
      />
    </div>
  </div>
</section>
