<section class="section-menu-plans" id="menu-plans">
    <div class="container menu-plans-container">
        <h2 class="menu-plans-title">Menu plans</h2>
        <p class="menu-plans-text">Find the plan that fits your taste and goals</p>
        <ul class="menu-plans-list">
            <li class="menu-plans-item">
                <h3 class="plans-item-title">Fitness</h3>
            <p class="plans-item-text">High-protein meals to fuel your workouts and build strength</p>
            <p class="plans-item-kcal">~2200-2500 kcal/day</p>
            <img class="plans-item-img" src="../img/plans/fitnes.png" alt="Fitnes Plan" width="235" >
            <svg class="plans-item-fitnes" width="435" height="207">
                <use href="../img/icons.svg#icon-fitness"></use>
            </svg>
        </li>
            <li class="menu-plans-item">
                <h3 class="plans-item-title">Balanced</h3>
            <p class="plans-item-text">A healthy mix of nutrients to keep your energy and weight on track</p>
            <p class="plans-item-kcal">~1800-2200 kcal/day</p>
            <img class="plans-item-img" src="../img/plans/balanced.png" alt="Balanced Plan" width="235" />
            <svg class="plans-item-fitne" width="435" height="207">
                <use href="../img/icons.svg#icon-ftness"></use>
            </svg>
        </li>
            <li class="menu-plans-item">
                <h3 class="plans-item-title">Light</h3>
            <p class="plans-item-text">Low-calorie dishes designed for weight loss without hunger</p>
            <p class="plans-item-kcal">~1400-1700 kcal/day</p>
            <img class="plans-item-img" src="../img/plans/light.png" alt="Light Plan" width="235" />
            <svg class="plans-item-fitne" width="435" height="207">
                <use href="../img/icons.svg#icon-ftness"></use>
            </svg>
        </li>
            <li class="menu-plans-item">
                <h3 class="plans-item-title">Vegetarian</h3>
            <p class="plans-item-text">Plant-based meals full of flavor, balance, and variety</p>
            <p class="plans-item-kcal">~1600-2000 kcal/day</p>
            <img class="plans-item-img" src="../img/plans/vegetarian.png" alt="Vegetarian Plan" width="235"/>
           <svg class="plans-item-fitne" width="435" height="207">
                <use href="../img/icons.svg#icon-ftness"></use>
            </svg>
        </li>
        </ul>

</section>