<section class="how-it-works">
    <div class="work-header">
      <h2 class="work-title">How it works</h2>
    </div>
    <!-- Step 1 -->
    <div class="initial-step">
      <svg class="icone" width="60" height="60">
        <use href="/img/icons.svg#icon-hand"></use>
      </svg>
      <h3>Choose your plan</h3>
      <p>Pick a ready-made menu or subscribe</p>
    </div>
  
    <div class="work-arrow">
      <!-- Arrow 1 -->
      <div class="how-arrow arrow-1">
        <svg class="icone" width="129" height="129">
          <use href="../img/icons.svg#icon-bottom"></use>
        </svg>
      </div>
      <!-- Arrow 2 -->
      <div class="how-arrow arrow-2">
        <svg class="icone" width="129" height="129">
          <use href="/img/icons.svg#icon-top"></use>
        </svg>
      </div>
    </div>
    <div class="work-step-element">
      <!-- Step 2 -->
      <div class="how-step">
        <svg class="icone" width="60" height="60">
          <use href="/img/icons.svg#icon-calculator"></use>
        </svg>
        <h3 class="work-title-step">Use the calculator</h3>
        <p class="work-step-text">
          Enter your age, weight, height, activity level, goals, and dietary restrictions
        </p>
      </div>
      <!-- Central image -->
      <div class="work-image">
        <img src="/img/work/food-place.png" alt="food" width="361px" height="361px" />
      </div>
      <!-- Step 3 -->
      <div class="how-step">
        <svg class="icone" width="60" height="60">
          <use href="/img/icons.svg#icon-car-truck"></use>
        </svg>
        <h3>Your meals are on the way</h3>
        <p>Fresh dishes delivered weekly or by subscription</p>
      </div>
    </div>
  </section>