

.choose-us {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}

.choose-us__header {
    text-align: left;
    margin-bottom: 40px;
}

.choose-us__header h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: var(--second-family);
        font-weight: 700;
        font-size: 50px;
        color: var(--text);
}

.choose-us__header p {
    font-size: 1.2rem;
    color: #9be060;
}

.choose-us__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    color: #fff;
    font-weight: 600;
        font-size: 16px;
        line-height: 125%;
}

.choose-us__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 60px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    
}

.choose-us__list li {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.choose-us__list .icon {
    font-size: 24px;
    color: #9be060;
}

.choose-us__list h4 {
    font-size: 1rem;
    font-weight: 600;
}

.choose-us__list p {
    font-size: 0.9rem;
    color: #aaa;
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--text2);
}

.choose-us__cta {
    flex: 0 0 250px;
    text-align: left;
    align-self: center;
}

.choose-us__cta h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #9be060;
    border-radius: 25px;
    color: #9be060;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s, color 0.3s;
}

.btn:hover {
    background: #9be060;
    color: #1c1c1c;
}