.section-discount {
  margin-bottom: 80px;
}

.discounts-container {
  background-image: url('/img/discounts/discounts-image.webp');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 360px;
  padding-bottom: 470px;
}

.section-discounts-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  color: var(--text);
  margin-bottom: 48px;
}

.section-discount-link {
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  padding: 20px 24px;
  width: 236px;
  height: 65px;
  background-color: var(--accent);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 139%;
  color: var(--text);
}
